[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pyzmq = "==19.0.0"
numpy = ">=1.18.0"
scikit-learn = ">=0.22.2"
flask-appbuilder = "==2.3.4"
email-validator = "==1.1.0"
docker = "==4.2.0"
apscheduler = "==3.6.3"
flask-mail = ">=0.9.1"
